.landing {
  width: 100vw;
  height: 90vh;
  background-image: url("../../assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

@media only screen and (max-width: 700px) {
  .landing {
    background-image: unset;
    background-color: rgb(20, 1, 1);
    background-repeat: repeat-y;
    overflow-y: scroll;
  }
}